[v-cloak] {
    display: none;
}

.global-heart:after {
    content: attr(data-count);
}

.local-heart[data-select-msg="select"]:after {
    content: "please select me";
    font-size: 1rem;
}

.local-heart[data-select-msg="selected"]:after {
    content: "you have selected me!";
    font-size: 1rem;
}

:is(.global-heart,.local-heart) svg {
    fill : #ff0000;
 }